name: BuildIt
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-2022
    steps:
    - name: "Clone source"
      uses: actions/checkout@v4
      with:
        submodules: 'true'
    - name: "Setup msvc"
      uses: ilammy/msvc-dev-cmd@v1
    - name: Debug file structure
      run: dir src
    - name: "Build"
      run: |
        mkdir build
        cd build
        cmake -G "NMake Makefiles" "-DCMAKE_BUILD_TYPE:STRING=RelWithDebInfo" "-DCMAKE_C_COMPILER:STRING=clang-cl" "-DCMAKE_MSVC_RUNTIME_LIBRARY:STRING=MultiThreaded" ..
        cmake --build .
    - name: Generate self-signed cert with email
      run: |
        $cert = New-SelfSignedCertificate `
          -Type CodeSigning `
          -Subject "CN=MyCompany, E=myemail@example.com" `
          -CertStoreLocation "Cert:\CurrentUser\My"
    
        Export-PfxCertificate `
          -Cert $cert `
          -FilePath mycert.pfx `
          -Password (ConvertTo-SecureString "password123" -AsPlainText -Force)
    - name: Locate signtool
      run: |
        where signtool
    - name: List SDK versions
      run: dir "C:\Program Files (x86)\Windows Kits\10\bin"
    - name: List build outputs
      run: |
        Get-ChildItem -Recurse -Filter *.dll | ForEach-Object { $_.FullName }
    - name: Sign DLL
      run: |
        "C:\Program Files (x86)\Windows Kits\10\bin\10.0.26100.0\x64\signtool.exe" sign /f mycert.pfx /p password123 /fd SHA256 /tr http://timestamp.digicert.com /td SHA256 MyLibrary.dll
    - name: "Package"
      shell: bash
      run: |
        7z a cslol-patcher.zip build/cslol-*
        7z rn cslol-patcher.zip build/ cslol-patcher/
    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v4
      with:
        name: cslol-patcher
        path: cslol-patcher.zip
        retention-days: 15
